customer-db/src/main/mule/customer-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="08b4e799-334b-4743-b4d6-83dee36aa652" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Postgres_DB_config" doc:name="Database Config" doc:id="b854c815-9125-4e82-a21a-85e0bef52544" >
		<db:generic-connection url="jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?user=postgres.kefimsoytafsjlzugnms&amp;password=s8bqRS2xT3Bb3JEQ" driverClassName="org.postgresql.Driver" user="postgres.kefimsoytafsjlzugnms" password="s8bqRS2xT3Bb3JEQ" />
	</db:config>
	<flow name="get-customers" doc:id="d25b12f1-e716-4dd8-9be5-228ec85b5be0" >
		<http:listener doc:name="getCustomer" doc:id="75c480aa-b43b-4efe-af97-a3e6cc9efe90" config-ref="HTTP_Listener_config" path="/customers" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="fa89b6cf-1026-4e04-a312-e85c743a90c3" config-ref="Postgres_DB_config">
			<db:sql ><![CDATA[SELECT * FROM customers;]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a2c836c9-53a2-45a8-9aeb-b059bdcabbdd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f5aa6a3b-77b3-4805-8fd9-25ab63b0efec" type="DB:CONNECTIVITY, DB:QUERY_EXECUTION">
				<ee:transform doc:name="Transform Message" doc:id="d7114320-e57f-4611-855d-c3109ca90265" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    error: "Database error",
    message: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="5d88b6d5-d2ed-4b7b-bac0-5d086dc08a90" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
    statusCode: 500
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fb47ce62-371b-4e18-ba38-56805cd1f7b5" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="fdb52da9-6ec8-4353-8346-e7aeb0240ad7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    error: "Internal server error",
    message: "Something went wrong while processing your request"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="49a5c517-1d0b-4777-804b-fef46531f4a0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
    statusCode: 500
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="add-customer" doc:id="e8232896-292d-4058-bcbb-198a77337852" >
		<http:listener doc:name="addCustomer" doc:id="703183e1-14a7-4109-a05b-262fea50a15a" config-ref="HTTP_Listener_config" path="/customers" allowedMethods="POST">
			<http:response statusCode="201" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="e309547d-0724-413a-95ef-3dcf38fdf28f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  first_name: payload.firstName,
  last_name: payload.lastName,
  email: payload.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="InsertCustomer" doc:id="f1021702-bd13-4428-9e52-c51d8a92f1c7" config-ref="Postgres_DB_config" autoGenerateKeys="true">
			<db:sql ><![CDATA[INSERT INTO customers (first_name, last_name, email) 
VALUES (:first_name, :last_name, :email)
RETURNING *;

]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="61db737d-cde5-4849-87af-0ecf56961412" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Customer successfully added",
    customer: payload[0]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete-customer" doc:id="ba4ce4bc-e550-423a-bad4-42d40021e45d" >
		<http:listener doc:name="delCustomer" doc:id="13a5bdeb-af8c-4fd1-a2e1-f31beab0ea16" config-ref="HTTP_Listener_config" path="/customers/{id}" allowedMethods="DELETE"/>
		<set-variable value="#[attributes.uriParams.id as Number]" doc:name="customerId" doc:id="454d6a24-26cb-4717-b3f2-3e339068fd3b" variableName="customerId"/>
		<db:delete doc:name="Delete" doc:id="740c6a4c-63a7-42db-b7aa-e202696bc269" config-ref="Postgres_DB_config">
			<db:sql ><![CDATA[DELETE FROM customers
WHERE id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ id: vars.customerId }]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="db5830b1-ceb5-4390-ab67-ceb77cce4ce9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer deleted successfully",
  id: vars.customerId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="update-customer-details" doc:id="8a264202-6f37-4368-b882-ad8fb61912b0" >
		<http:listener doc:name="updateCustomer" doc:id="17fd4104-a88c-4753-9c5e-62e68e9bce05" config-ref="HTTP_Listener_config" path="/customers/{id}" allowedMethods="PATCH"/>
		<set-variable value="#[attributes.uriParams.id as Number]" doc:name="getCustomerId" doc:id="a2a557a8-00bf-4843-9721-b1022680e64c" variableName="customerId"/>
		<ee:transform doc:name="Transform Message" doc:id="61b71e5b-61c1-48b1-9e8a-693c74ee1c9b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  id: vars.customerId,
  first_name: payload.firstName,
  last_name: payload.lastName,
  email: payload.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="1d4c8d16-cb0e-4fbc-a4d9-47f0b21ce200" config-ref="Postgres_DB_config" autoGenerateKeys="true">
			<db:sql ><![CDATA[UPDATE customers
SET first_name = :first_name,
    last_name = :last_name,
    email = :email
WHERE id = :id
RETURNING *;]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="22423897-e440-4737-aed6-fa852f43d9a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer updated successfully",
  id: vars.customerId,
  customer: payload[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
