customer-db/src/main/mule/customer-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="08b4e799-334b-4743-b4d6-83dee36aa652">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Postgres_DB_config" doc:name="Database Config" doc:id="b854c815-9125-4e82-a21a-85e0bef52544" >
		<db:generic-connection url="jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?user=postgres.kefimsoytafsjlzugnms&amp;password=s8bqRS2xT3Bb3JEQ" driverClassName="org.postgresql.Driver" user="postgres.kefimsoytafsjlzugnms" password="s8bqRS2xT3Bb3JEQ" />
	</db:config>
	<flow name="get-customers">
    <http:listener config-ref="HTTP_Listener_config" path="/customers" allowedMethods="GET">
        <http:response statusCode="#[vars.statusCode default 200]" />
        <http:error-response statusCode="#[vars.statusCode default 500]" />
    </http:listener>

    <!-- FIX: Removed input-parameters -->
    <db:select config-ref="Postgres_DB_config">
        <db:sql><![CDATA[SELECT * FROM customers;]]></db:sql>
    </db:select>

    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
        </ee:message>
    </ee:transform>

    <error-handler>
        <on-error-propagate type="DB:CONNECTIVITY, DB:QUERY_EXECUTION">
            <set-variable variableName="statusCode" value="500"/>
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "Database unavailable",
    message: "Please try again later"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </on-error-propagate>

        <on-error-propagate type="ANY">
            <set-variable variableName="statusCode" value="500"/>
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "Internal server error",
    message: error.description
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </on-error-propagate>
    </error-handler>
</flow>
	<flow name="add-customer" doc:id="e8232896-292d-4058-bcbb-198a77337852" >
		<http:listener doc:name="addCustomer" doc:id="703183e1-14a7-4109-a05b-262fea50a15a" config-ref="HTTP_Listener_config" path="/customers" allowedMethods="POST">
			<http:response statusCode="201" />
			<http:error-response statusCode="200" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="e309547d-0724-413a-95ef-3dcf38fdf28f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	first_name: payload.firstName,
    last_name: payload.lastName,
    email: payload.email
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="InsertCustomer" doc:id="f1021702-bd13-4428-9e52-c51d8a92f1c7" config-ref="Postgres_DB_config" autoGenerateKeys="true">
			<db:sql ><![CDATA[INSERT INTO customers (first_name, last_name, email) 
VALUES (:first_name, :last_name, :email)
RETURNING *;

]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="61db737d-cde5-4849-87af-0ecf56961412" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Customer successfully added",
    customer: payload[0]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="07d52209-024c-4429-aeb1-e9e089e5070f" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="ae8529a1-c17e-4786-b62d-a3766e4d45c1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  error: "Bad request",
  message: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Variable" doc:id="44344c4c-b524-49ce-813f-207e3efa9f78" variableName="statusCode"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4dfd9329-40ba-4b9f-b71e-5e846cafc768" type="DB:CONNECTIVITY, DB:QUERY_EXECUTION">
				<ee:transform doc:name="Transform Message" doc:id="ce0ae838-2cbe-4991-a063-9634ed25d85d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    error: "Database unavailable",
    message: "Please try again later"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="500" doc:name="Set Variable" doc:id="da3ffb33-73f2-4ef5-96b7-5fb3491a0378" variableName="statusCode"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="delete-customer" doc:id="ba4ce4bc-e550-423a-bad4-42d40021e45d" >
		<http:listener doc:name="delCustomer" doc:id="13a5bdeb-af8c-4fd1-a2e1-f31beab0ea16" config-ref="HTTP_Listener_config" path="/customers/{id}" allowedMethods="DELETE"/>
		<set-variable value="#[attributes.uriParams.id as Number]" doc:name="customerId" doc:id="454d6a24-26cb-4717-b3f2-3e339068fd3b" variableName="customerId"/>
		<db:delete doc:name="Delete" doc:id="740c6a4c-63a7-42db-b7aa-e202696bc269" config-ref="Postgres_DB_config">
			<db:sql ><![CDATA[DELETE FROM customers
WHERE id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ id: vars.customerId }]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="db5830b1-ceb5-4390-ab67-ceb77cce4ce9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload == 0)
    message: "Customer not found"
else
    {
      message: "Customer deleted successfully",
      id: vars.customerId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c04c2927-7cdf-4387-a5f7-fd28d607ac40" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="4407f4b5-715a-4db6-bd78-09b5ffaa239c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  error: "Customer not found"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Variable" doc:id="ab80f1c0-667b-45ba-8386-2e1a120a88e4" variableName="statusCode"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="update-customer" doc:id="8a264202-6f37-4368-b882-ad8fb61912b0" >
		<http:listener doc:name="updateCustomer" doc:id="17fd4104-a88c-4753-9c5e-62e68e9bce05" config-ref="HTTP_Listener_config" path="/customers/{id}" allowedMethods="PATCH"/>
		<set-variable value="#[attributes.uriParams.id as Number]" doc:name="getCustomerId" doc:id="a2a557a8-00bf-4843-9721-b1022680e64c" variableName="customerId"/>
		<ee:transform doc:name="Transform Message" doc:id="61b71e5b-61c1-48b1-9e8a-693c74ee1c9b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  id: vars.customerId,
  first_name: payload.firstName,
  last_name: payload.lastName,
  email: payload.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="1d4c8d16-cb0e-4fbc-a4d9-47f0b21ce200" config-ref="Postgres_DB_config" autoGenerateKeys="true">
			<db:sql ><![CDATA[UPDATE customers
SET first_name = :first_name,
    last_name = :last_name,
    email = :email
WHERE id = :id
RETURNING *;]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="22423897-e440-4737-aed6-fa852f43d9a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer updated successfully",
  id: vars.customerId,
  customer: payload[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="BAD_REQUEST" doc:id="a06e4457-5b94-42c5-841b-1661abafeb75" type="DB:CONNECTIVITY, DB:QUERY_EXECUTION">
				<ee:transform doc:name="Transform Message" doc:id="820d7e16-5458-49d0-9e73-88b2550ef2e7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Database unavailable",
  "message": "Please try again later"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="500" doc:name="Set Variable" doc:id="84321cf7-155d-4151-8a9e-bc7a4a188e3e" variableName="statusCode"/>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="DB errors" doc:id="1a67e0ee-5ebc-4bd5-b749-4c4207ad7439" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="5703a266-0ab2-430d-8d8d-4a6542fc24ea" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Internal server error",
  "message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="500" doc:name="Set Variable" doc:id="2759fc78-4810-4817-ae99-087babf88a2a" variableName="statusCode"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
